@import './themes/dark-theme.scss';
@import './themes/light-theme.scss';

$default-font: 'Lato', sans-serif;

$light-red: #c58a8a;
$light-green: #9ac29a;
$border-color: #3e4750;
$white-blue: #e3f1ff;
