@import 'themes.scss';

.asset-overview-wrapper {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.mark-hover:hover {
   background-color: #26323a;
   cursor: pointer;
}

.asset-overview {
   padding: 5px 5px 0px 5px;
   border: 1px solid $border-color;
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
   animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

   @media screen and (min-width: 1500px) {
      flex-basis: 20%;   
   }

   @media screen and (min-width: 1000px) and (max-width: 1500px) {
      flex-basis: 25%;   
   }

   @media screen and (min-width: 768px) and (max-width: 1000px) {
      flex-basis: calc(100%/3);   
   }

   @media screen and (max-width: 768px) {
      flex-basis: 100%;   
   }

   .primary-traded-pair {
      .header {
         font-size: 1.2rem;
         display:flex;
         flex-direction: row;
         padding-bottom: 15px;
         padding-left:3px;
         padding-right:3px;

         .percent-change {
            margin-left:auto;
         }
      }
   }

   .primary-asset, .secondary-asset, .pair-price {
      margin-right: 7px;
   }

   .secondary-asset {
      color: darken($dark-foreground-color, 25%);
   }

   .percent-change {
      &.up {
         color: $light-green;
      }

      &.down {
         color: $light-red;
      }
   }

   exchange-asset-pair {
      border-bottom: 1px solid $border-color;
   }

   .exchange-asset-pairs .exchange-pair-wrapper:last-child exchange-asset-pair {
      border-bottom: none;
   }

   a, a:hover {
      color: $dark-foreground-color;
      text-decoration: none;
   }

}