<nav class="menu-navbar">
  <p-autoComplete [(ngModel)]="searchKey" class="asset-search-input" [suggestions]="filteredSearchItems" (completeMethod)="filterSearchItems($event.query)"
    field="value" delay="150" styleClass="asset-search-input" [size]="20" [minLength]="0" [autoHighlight]="false" placeholder="Search.." (onSelect)="filterAssetOverviewBySearchSettings($event)" (onClear)="resetSearchSettings()" (onKeyUp)="searchWithSearchString(this.searchKey)" [scrollHeight]="'250px'">
    <ng-template let-suggestion pTemplate="SearchItem">
      <div class="suggestion-wrapper">
        <span class="suggestion-type">{{suggestion.type == 'EXCHANGE' ? 'Exchange' : suggestion.type == 'ASSET_PAIR' ? 'Asset Pair' : 'Asset'}}:</span>
        <span class="suggestion-value">{{suggestion.value}}</span>
      </div>
    </ng-template>
  </p-autoComplete>
  <button type="button" (click)="searchWithSearchString(this.searchKey)" class="btn btn-outline-light-custom search-button">Go!</button>
</nav>

<div class="asset-overview-wrapper">
  <div id="asset-{{asset.shortcode}}" class="asset-overview" *ngFor="let asset of filteredAssets" @fadeAnimation>
    <a [routerLink]="getPrimaryAssetPair(asset).exchange + '/' + getPrimaryAssetPair(asset).pair.symbol + '/15m'">
      <div class="primary-traded-pair exchange-pair-wrapper">
        <exchange-asset-pair class="primary" [exchangeAssetPair]="getPrimaryAssetPair(asset)" [drawHeader]="true" [enableChart]="true"
          [triggerChartInitialization]="this.primaryAssetPairs.has(asset.shortcode)"> </exchange-asset-pair>
      </div>
    </a>
    <div class="exchange-asset-pairs">
      <a [routerLink]="tradedPair.exchange + '/' + tradedPair.pair.symbol + '/15m'" *ngFor="let tradedPair of getExchangeAssetPairs(asset, true)"  in-view (inview)="inview(tradedPair)">
        <div class="exchange-pair-wrapper" in-view (inview)="inview(tradedPair)">
          <exchange-asset-pair class="mark-hover" [exchangeAssetPair]="tradedPair" [drawHeader]="false"></exchange-asset-pair>
        </div>
      </a>
    </div>
  </div>
</div>
