@import 'themes.scss';

.asset-overview-wrapper {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.asset-overview {
   padding: 5px 5px 0px 5px;
   border: 1px solid $border-color;

   @media screen and (min-width: 1500px) {
      flex-basis: 20%;   
   }

   @media screen and (min-width: 1000px) and (max-width: 1500px) {
      flex-basis: 25%;   
   }

   @media screen and (min-width: 768px) and (max-width: 1000px) {
      flex-basis: calc(100%/3);   
   }

   @media screen and (max-width: 768px) {
      flex-basis: 100%;   
   }

   .exchange-pair-wrapper {
      border-bottom: 1px solid $border-color;
   }

   .exchange-pair-wrapper:hover {
      background-color: #26323a;
      cursor: pointer;
   }

   .exchange-asset-pairs a:last-child .exchange-pair-wrapper {
      border-bottom: none;
   }

   a, a:hover {
      color: $dark-foreground-color;
      text-decoration: none;
   }

}