@import 'themes.scss';
.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   height: 100%;
   color: $white-blue;

   .trades-overview-header {
      font-weight: bold;
      flex: 0 0 25px;
      padding-top: 5px;
      span {
         display: table-cell;
         padding-left: 8px;
      }
      .trade-column-time {
         width: 66px;
      }
      .trade-column-price {
         width: 79px;
      }
      .trade-column-value {
         padding-right: 0.3rem;
      }

   }
   .trades-wrapper {
       ::ng-deep .ps__scrollbar-y {
         background-color: rgba(204, 204, 204, 0.94);
      }
      table th {
         border: none;
      }
      table td {
         border-color: $dark-background-color;
      }
      tr.trade-row:nth-child(odd) {
         background-color: lighten($dark-background-color, 4%);
      }

      .trade-row {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;         
         border-color: $dark-background-color;
         -webkit-animation: slide-in-fwd-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
         animation: slide-in-fwd-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
         
         &.trade-buy .trade-column-price {
            color: $light-green;
         }
         &.trade-sell .trade-column-price {
            color: $light-red;
         }
      }
   }

   .trade-column-time {
      width: 65px;
   }

   .trade-column-price {
      width: 75px;
   }

   .trade-column-amount {
      width: 80px;
      text-align: right;
   }

   .trade-column-value {
      width: 100px;
      text-align: right;
   }
}