@import 'themes.scss';

div#bigChart {
   height: 100%;
   width:100%;
}

/* Chart specific styling */
svg {
   font: 10px sans-serif;
}

.axis path,
.axis line {
   fill: none;
   stroke: #BBBBBB;
   shape-rendering: crispEdges;
}

text {
   fill: $white-blue;
}

path {
   fill: none;
   stroke-width: 1;
}

path.candle {
   stroke: #000000;
}

path.candle.body {
   stroke-width: 0;
}

path.candle {
   fill: #777777;
   stroke: #777777;
}

path.candle.up {
   fill: #00AA00;
   stroke: #00AA00;
}

.volume-plot {
   stroke: $dark-background-color;

   .up {
      fill: #00AA00;
   }

   .down {
      fill: #FF0000;
   }
}


path.candle.down {
   fill: #FF0000;
   stroke: #FF0000;
}

.closeValue.annotation.up path {
   fill: #00AA00;
}

path.volume {
   fill: #555555;
}

.indicator-plot path.line {
   fill: none;
   stroke-width: 1;
}

.ma-0 path.line {
   stroke: #1f77b4;
}

.ma-1 path.line {
   stroke: #aec7e8;
}

.ma-2 path.line {
   stroke: #ff7f0e;
}

path {
   &.macd {
      stroke: #aec7e8;
   }

   &.signal {
      stroke: #FF9999;
   }

   &.zero {
      stroke: #BBBBBB;
      stroke-dasharray: 0;
      stroke-opacity: 0.5;
   }

   &.difference {
      fill: #777777;
   }

   &.rsi {
      stroke: #aec7e8;
   }
}

path.overbought, path.oversold {
   stroke: #FF9999;
   stroke-dasharray: 5, 5;
}

path.middle, path.zero {
   stroke: #BBBBBB;
   stroke-dasharray: 5, 5;
}

.analysis path, .analysis circle {
   stroke: yellow;
   stroke-width: 0.7;
}

.mouseover .supstance path {
   stroke-width: 1.5;
}

.crosshair {
   cursor: crosshair;
}

.crosshair path.wire {
   stroke: #555555;
   stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
   fill: #777777;
}

.settings {
   padding: 10px;
}

.symbol {
   font-size: 12px;
}

#zoomPane {
   cursor: move;
   fill: none;
   pointer-events: all;
}

.legend text {
   font-size: 12px;

   &.legend-header {
      fill: grey;
   }
}