$dark-background-color: #131f27;
$dark-border-color: darker($dark-background-color, 10%);
$dark-foreground-color: rgb(220, 220, 220);
$dark-menu-color: darken($dark-background-color, 3%);
$dark-alert: #520000;

