<div class="exchange-config border-b">
  <a class="home-button" [routerLink]="['']">Asset-Ticker</a>

  <p-autoComplete [(ngModel)]="symbolPairSearchKey" [suggestions]="filteredSymbolPairs" (completeMethod)="filterSymbolPairs(symbolPairSearchKey)"
    [size]="10" [minLength]="0" placeholder="Symbol pair.." [dropdown]="true" (onSelect)="switchSymbolPair(symbolPairSearchKey)"
    (onKeyUp)="symbolPairSearchKeyReleased($event)">
  </p-autoComplete>
</div>

<div class="panels-wrapper">
  <trade-overview class="trades-wrapper border-r" [symbolPair]="currentSymbolPair" [exchangeTickerType]="currentExchange.exchangeType"></trade-overview>

  <div class="chart-wrapper">
    <!-- <chart [symbolPair]="currentSymbolPair" [exchangeTickerType]="currentExchange.exchangeType"></chart> -->
    <!-- <techan-chart></techan-chart> -->
    <techan-live [symbolPair]="currentSymbolPair" [exchangeTickerType]="currentExchange.exchangeType" [timeframe]="currentTimeframe"></techan-live>
  </div>

  <div class="order-book-wrapper">
    <div class="order-book-depth">
    </div>
    <div class="order-book-positions border-l">
      <div class="order-book-side-wrapper">
        <order-book [symbolPair]="currentSymbolPair" [exchangeTickerType]="currentExchange.exchangeType" [bookSide]="'asks'" [reversedRows]="true"></order-book>
      </div>
      <span *ngIf="lastTrade" class="price-separator">{{lastTrade.price}}
        <span>{{this.lastTrade.secondaryAsset.shortcode}}</span>
      </span>
      <div class="order-book-side-wrapper">
        <order-book [symbolPair]="currentSymbolPair" [exchangeTickerType]="currentExchange.exchangeType" [bookSide]="'bids'"></order-book>
      </div>
    </div>
  </div>

</div>
