 @-webkit-keyframes swirl-out-bck {
   0% {
     -webkit-transform: rotate(0) scale(1);
             transform: rotate(0) scale(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: rotate(-540deg) scale(0);
             transform: rotate(-540deg) scale(0);
     opacity: 0;
   }
 }
 @keyframes swirl-out-bck {
   0% {
     -webkit-transform: rotate(0) scale(1);
             transform: rotate(0) scale(1);
     opacity: 1;
   }
   100% {
     -webkit-transform: rotate(-540deg) scale(0);
             transform: rotate(-540deg) scale(0);
     opacity: 0;
   }
 }
 